*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
}
.watch{
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 50px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}
.timer{
    font-weight: 600;

}
.but{
    margin-top: 50px;
}
.btn{
    margin-right: 20px;
    border: none;
    padding: 10px 24px;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    cursor: pointer;
}
